name: Static Tests

on:
  push:
  pull_request:
  schedule:
    - cron: '15 2 * * *'

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
      - name: Run static pytest suite
        run: |
          pytest -q
    permissions:
      contents: read
      pull-requests: read